%p
  Once you've
  = link_to 'created a website', new_admin_website_path
  you can create albums and pages for this website and then arrange your photos in those albums.

%p
  To assign your photos to an album, just
  %strong drag
  them from the bottom row and
  %strong drop
  them onto the albums in the list on the left.