- title(t(:'.edit', :domain => @website.domain))

= error_messages_for :website

- form_for @website, {}, :method => :put do |form|
  = render 'form', :object => form
  
  %p.submit= submit_tag t(:'.save'), :name => nil