%h1= title(t(:'.your_websites'))
- if current_objects.empty?
  %p.error= t(:'.no_websites')
  = t(:'.add_new_website', :link => link_to(t(:'.new_website'), new_website_url))
- else
  = render :partial => 'website', :collection => current_objects