- title(t(:'.page_title', :title => resource.title))

= error_messages_for :page

- form_for(:page, :url => resource_url, :html => { :method => :put }) do |form|
  = render :partial => "form", :object => form
  %p= submit_tag "Update"
