= error_messages_for :page, :object => resource

- form_for resource, :url => admin_website_pages_path(@parent) do |form|
  = render :partial => 'form', :object => form
  %p.submit= submit_tag t(:'.submit')
