- title t(:'.page_title')

= error_messages_for :page, :object => current_object 

- form_for current_object, :url => admin_website_pages_path(parent_object) do |form|
  = render :partial => 'form', :object => form
  %p.submit= submit_tag t(:'.submit')
