body { font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

a:focus { outline: 1px dotted invert; }

hr { border-color: #ccc; border-style: solid; border-width: 1px 0 0; clear: both; height: 0; }

h1 { font-size: 25px; }

h2 { font-size: 23px; }

h3 { font-size: 21px; }

h4 { font-size: 19px; }

h5 { font-size: 17px; }

h6 { font-size: 15px; }

ol { list-style: decimal; }

ul { list-style: square; }

li { margin-left: 30px; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }

@font-face { font-family: TitilliumMaps26; src: url(http://static.photostre.am/fonts/titilliummaps26l003.eot); src: local('TitilliumMaps26'), local('TitilliumMaps26'), url(http://static.photostre.am/fonts/titilliummaps26l003.otf) format("opentype"); }

h1, h2, h3, #title, strong { font-family: TitilliumMaps26; }

body { background-color: black; background-image: url(/images/stripes.png); background-repeat: no-repeat; color: #eeeeff; padding: 0; margin: 0; font-size: x-small; font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica sans-serif', Helvetica, Sans-Serif, "Comic Sans MS"; }

#container { font-size: 160%; }

.clear { clear: both; }

a { color: #2b64f8; }
a:hover, a:active { color: #dc6300; }

a img { border: none; }

p { line-height: 1.3em; margin: 0.5em 0px; }

ul { margin: 0 0 0 20px; padding: 0; }
ul li { margin: 0; padding: 0; }
ul ul { margin-bottom: 0; }

h1 { color: #63dc00; }

h2, h3 { color: #dc6300; clear: both; margin: 5px 0px 5px 0px; }
h2 a, h3 a { color: #dc6300; text-decoration: none; }
h2 a:hover, h2 a:active, h3 a:hover, h3 a:active { color: #dc6300; }

#header { border-bottom: 1px solid #999; border-color: #dc6300; }
#header #title a { font-size: 4em; text-decoration: none; color: #2b64f8; }
#header #title a:hover, #header #title a:active { color: #dc6300; }

#navigation, #subnavigation, #section_navigation { margin: 0; padding: 0; }
#navigation li, #subnavigation li, #section_navigation li { list-style-type: none; }
#navigation a, #subnavigation a, #section_navigation a { text-decoration: none; }
#navigation a:hover, #navigation a:active, #subnavigation a:hover, #subnavigation a:active, #section_navigation a:hover, #section_navigation a:active { color: #dc6300; }

#subnavigation li, #section_navigation li { display: inline; margin: 0px 20px 0px 0px; }
#subnavigation li a:hover, #subnavigation li a:active, #section_navigation li a:hover, #section_navigation li a:active { color: #dc6300; }

#section_navigation { font-size: 1.3em; }

#footer { border-top: 1px solid; border-color: #0063dc; margin-top: 15px; padding: 10px 0; }
#footer p { font-size: 85%; text-align: center; margin: 0; }
#footer a { text-decoration: none; }

.fieldWithErrors { color: red; display: inline; }

.error, .notice { border: 2px solid; padding: 5px 10px; }

.error { color: black; background-color: #ff8888; border-color: #881111; }

.notice { color: black; background-color: #ffff88; border-color: #889911; }

.right { float: right; }

.flickr { color: #0063dc; }

.portfolio { color: #63dc00; }

.photoblog { color: #dc6300; }

.submit input.flickr { -moz-border-radius: 2px; -webkit-border-radius: 2px; background-color: #0063dc; color: white; font-weight: bold; font-size: 20px; border: none; }

#photos .photo, #albums .album { display: inline; margin: 5px; }

ul#websites.screenshots { list-style-type: none; padding: 0; margin: 0; }
ul#websites.screenshots li { padding: 0; width: 204px; margin-right: 5px; float: left; display: block; background-color: black; border: 1px solid; border-color: #63dc00; }
ul#websites.screenshots li .link a { color: #dc6300; text-decoration: none; font-weight: bold; display: block; margin: 0 4px 2px 4px; }
ul#websites.screenshots li img { margin: 2px 2px 0 2px; }
