/* line 3, ../../../../app/stylesheets/layout.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin: 0 0 0 100px;
  position: relative;
}

/* line 7, ../../../../app/stylesheets/layout.sass */
#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-right: 0;
  margin-left: 0;
}

/* line 12, ../../../../app/stylesheets/layout.sass */
#navigation {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  margin-right: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  display: inline;
}

/* line 20, ../../../../app/stylesheets/layout.sass */
#sidebar {
  float: right;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-right: 0;
  font-size: 0.9em;
  padding-top: 4em;
}

/* line 26, ../../../../app/stylesheets/layout.sass */
#content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
  padding-bottom: 10px;
}

/* line 30, ../../../../app/stylesheets/layout.sass */
#footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-left: 0;
  margin-right: 0;
}

/* line 36, ../../../../app/stylesheets/layout.sass */
.columns {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 38, ../../../../app/stylesheets/layout.sass */
.column_1_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 520px;
  margin-left: 0;
}

/* line 41, ../../../../app/stylesheets/layout.sass */
.column_2_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  margin-right: 0;
}

/* line 44, ../../../../app/stylesheets/layout.sass */
.column_1_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-left: 0;
}

/* line 47, ../../../../app/stylesheets/layout.sass */
.column_2_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 49, ../../../../app/stylesheets/layout.sass */
.column_3_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-right: 0;
}
