
%h2 Latest errors
%dl
  - @sources.collect(&:sources).flatten.compact.each do |source|
    - next if source.error_messages.empty?
    %dt= link_to source.title, source.photostream_url
    - source.error_messages.each do |error|
      %dd
        = error["date"]
        %em= error["msg"]
= will_paginate @sources