%h2= t(:'.login_via_flickr')
%p= raw textilize(t(:'.flickr_info'))
- form_tag session_path do
  = hidden_field_tag :flickr, true
  %p.submit
    = submit_tag t(:'.submit_flickr'), :name => nil, :class => 'flickr'
