- form_tag(sessions_url) do
  - if logged_in?
    %p=t('.add_new_openid')

  - else
    %p=t(:'.openid_info')
    
  %label{:for => "openid_identifier"} OpenID/Flickr:
  = text_field_tag "openid_identifier", 'http://www.flickr.com/photos/username'

  %p.submit
    = submit_tag t(:'.signin')
