- if collection.empty?
  = raw t(:'.no_albums_yet', :album_link => link_to(t(:'.create_new'), new_resource_path))
- collection.each do |album|
  %div[album]
    = link_to image_tag(album.key_photo ? album.key_photo.photo_url(:square) : 'album.png'), resource_path(album)
    %br/
    = album.title
