- content_for :subnavigation do
  %li= link_to t(:'.new'), new_resource_path

- if collection.empty?
  = t(:'.no_albums_yet', :album_link => link_to(t(:'.create_new'), new_resource_path))
- collection.each do |album|
  %div[album]= link_to image_tag(album.key_photo ? album.key_photo.photo_url(:thumbnail) : 'album.png'), object_path(album)
