- title(t(:'.page_title', :website => parent_object.site_title))
- content_for :subnavigation do
  %li= link_to t(:'.new'), new_object_path

- current_objects.each do |album|
  %div[album]= link_to image_tag(album.key_photo ? album.key_photo.photo_url(:thumbnail) : 'album.png'), object_path(album)
