- title t(:'.page_title', :domain => @website.domain)

= error_messages_for :album, :object => current_object

- form_for current_object||@website.albums.new, :url => admin_website_albums_path(@website) do |form|
  = render :partial => 'form', :object => form
  %p.submit= submit_tag t(:'.submit')
