[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/acts_as_state_machine"]
	path = vendor/plugins/acts_as_state_machine
	url = git://github.com/omghax/acts_as_state_machine.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/workling"]
	path = vendor/plugins/workling
	url = git://github.com/purzelrakete/workling.git
[submodule "vendor/plugins/flickr_fu"]
	path = vendor/plugins/flickr_fu
	url = git@github.com:TomK32/flickr_fu.git
[submodule "vendor/plugins/is_taggable"]
	path = vendor/plugins/is_taggable
	url = git://github.com/TomK32/is_taggable.git
[submodule "vendor/plugins/permalink_fu"]
	path = vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/acts_as_taggable_on"]
	path = vendor/plugins/acts_as_taggable_on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/rspec_on_rails_on_crack"]
	path = vendor/plugins/rspec_on_rails_on_crack
	url = git://github.com/technoweenie/rspec_on_rails_on_crack.git
[submodule "vendor/plugins/rspec-on-rails-matchers"]
	path = vendor/plugins/rspec-on-rails-matchers
	url = git://github.com/joshknowles/rspec-on-rails-matchers.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
[submodule "vendor/plugins/webrat"]
	path = vendor/plugins/webrat
	url = git://github.com/brynary/webrat.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
