db/*sqlite
db/*sqlite3
log/*.log
log/workling.output
log/*.pid
tmp/**/*
.DS_Store
*.swp
public/cache/*
public/**/cache/*
config/flickr.yml
config/database.yml
themes/websites
tmp/token.yml
tmp/webrat-*.html
