body { font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

a:focus { outline: 1px dotted invert; }

hr { border-color: #ccc; border-style: solid; border-width: 1px 0 0; clear: both; height: 0; }

h1 { font-size: 25px; }

h2 { font-size: 23px; }

h3 { font-size: 21px; }

h4 { font-size: 19px; }

h5 { font-size: 17px; }

h6 { font-size: 15px; }

ol { list-style: decimal; }

ul { list-style: square; }

li { margin-left: 30px; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }

body { background-color: black; color: #eeeeff; font-size: x-small; font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica sans-serif', Helvetica, Sans-Serif, "Comic Sans MS"; }

#container { font-size: 160%; }

a { color: #2b64f8; }
a:hover, a:active { color: #66dd00; }

p { font-size: 110%; line-height: 1.3em; }

ul { margin: 0 0 0 20px; padding: 0; }
ul li { margin: 0; padding: 0; }
ul ul { margin-bottom: 0; }

h1 { color: #63dc00; }

h2, h3 { color: #dc6300; clear: both; margin: 5px 0px 5px 0px; }
h2 a, h3 a { color: #dc6300; text-decoration: none; }
h2 a:hover, h2 a:active, h3 a:hover, h3 a:active { color: #66dd00; }

#header { border-bottom: 1px solid #999; }
#header #title a { font-size: 4em; text-decoration: none; text-shadow: white 0px 1px 1px; color: #2b64f8; }
#header #title a:hover, #header #title a:active { color: #66dd00; }

#navigation, #subnavigation { margin: 0; padding: 0; }
#navigation li, #subnavigation li { list-style-type: none; }
#navigation a, #subnavigation a { text-decoration: none; }
#navigation a:hover, #navigation a:active, #subnavigation a:hover, #subnavigation a:active { color: #66dd00; }

#subnavigation li { display: inline; margin: 0px 20px 0px 0px; }
#subnavigation li a:hover, #subnavigation li a:active { color: #66dd00; }

#footer { border-top: 1px solid #999; margin-top: 15px; padding-top: 10px; }
#footer p { font-size: 85%; text-align: center; margin: 0; }
#footer a { text-decoration: none; }

#openid_logo { float: right; margin: 0 0 10px 10px; }

#openid_identifier { width: 322px; margin: 0px; padding: 2px; padding-left: 20px; vertical-align: middle; background-image: url(/images/openid.ico); background-repeat: no-repeat; background-position: 3px 2px; }

.fieldWithErrors { color: red; display: inline; }

.error, .notice { border: 2px solid; padding: 5px 10px; }

.error { color: black; background-color: #ff8888; border-color: #881111; }

.notice { color: black; background-color: #ffff88; border-color: #889911; }

.flickr { color: #0063dc; }

.portfolio { color: #63dc00; }

.photoblog { color: #dc6300; }

.submit input.flickr { -moz-border-radius: 2px; -webkit-border-radius: 2px; background-color: #0063dc; color: white; font-weight: bold; font-size: 20px; border: none; }
