= stylesheet_link_tag %w(layout application), :cache => 'cache/application'
= javascript_include_tag 'jquery.js', 'remote_gallery.js', 'alboom.js'
%link{:rel => "shortcut icon", :href => "/images/favicon.ico"}
= yield :head
