%ul
  - pages.each do |page|
    %li
      = link_to page.title, admin_website_page_url(page.website.id,page)
      - unless page.children.empty?
        = render :partial => 'admin/websites/pages', :object => page.children