- title(t(:'.page_title', :domain => current_object.domain))

= error_messages_for :website

- form_for current_object, {:url => object_path(current_object), :method => :put} do |form|
  = render 'form', :object => form
  
  %p.submit= submit_tag t(:'.save'), :name => nil