%p
  Detta är din instrumentbräda. Om du nu är här, så måste du först 
  = link_to 'skapa en ny webbsida', new_admin_website_path
  och sedan kan du lägga dina foton i 
  = link_to 'photo Manger.', admin_photos_path
%p
 Om du har några Undringar? Fråga gärna våran  
  = link_to 'support forum', 'http://www.flickr.com/groups/photostre_am/'