body { background-image: none; }

#header #title a { font-size: 1.2em; }

#navigation { top: 0; }

#container, #header { width: 100%; margin: 0; padding: 0; }

#content { width: auto; padding: 5px; }

#photo_manager { width: 100%; clear: both; }
#photo_manager #websites { display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 160px; }
#photo_manager #related_photos { display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 580px; }
#photo_manager #related_photo { display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 160px; }
#photo_manager #websites, #photo_manager #related_photos, #photo_manager #related_photo { margin: 0; padding: 0; }

#photos { clear: both; }

#related_photo input[type=text], #related_photo textarea { width: 100%; }

#photos { width: 100%; }
#photos .photo, #photos .related_photo { display: inline-block; position: relative; border: 1px solid transparent; margin: 0; }
#photos .photo.selected, #photos .related_photo.selected { border: 1px solid; border-color: #0063dc; }
#photos .photo .icon, #photos .related_photo .icon { margin: 2px; position: relative; }
#photos .photo .info, #photos .related_photo .info { position: absolute; width: 10em; border-style: solid; border-color: = !color_green; border-width: 1px; padding: 0.2em; background-color: black; }
#photos #filter p, #photos #filter label, #photos #filter input, #photos #filter form { display: inline; }
#photos #filter input[type="text"] { width: 60px; }
#photos #filter label { margin-left: 10px; }

.website.droppable.hover, .album.droppable.hover { background-color: #222; }
