h2, h3, h4 { overflow-x: hidden; white-space: nowrap; }
h2 small, h3 small, h4 small { font-size: 10px; }
h2 small a, h2 small a:hover, h2 small a:visited, h3 small a, h3 small a:hover, h3 small a:visited, h4 small a, h4 small a:hover, h4 small a:visited { color: #2b64f8; }
h2 small:before, h3 small:before, h4 small:before { content: "("; }
h2 small:after, h3 small:after, h4 small:after { content: ")"; }

#albums .album { float: left; width: 120px; }

form .remote_albums { max-height: 15em; overflow-y: scroll; }

#themes { clear: both; }
#themes .theme { display: block; float: left; margin: 0 10px 10px 0; width: 200px !important; }
#themes .theme img { width: 200px; height: 130px; }
