%div[album]
  .droppable.title= link_to album.title, admin_related_photos_path(:album_id => album.id), :remote => true
  %ul.statistics
    %li.photos_count= t(:'admin.photos.index.items', :count => album.related_photos.count)
