%li.droppable[album]
  %span.title= link_to album.title, admin_related_photos_path({:website_id => album.website.id, :album_id => album.id}), :remote => true
  %small.count
    = t(:'admin.photos.index.items', :count => album.related_photos.count)