%div.droppable[website]
  %span.domain= website.domain
  %span.small
    (
    = link_to(t(:'.create_album'), new_admin_website_album_path(:website_id => website.id))
    ,
    = link_to(t(:'.only_website'), admin_photos_path({:website_id => website.id}))
    )
.info.albums
  = render :partial => 'album', :collection => website.albums.published
