- title(t(:'.page_title'))

= error_messages_for :photos

- form_for(:photo, :url => object_url, :html => { :method => :put }) do |form|
  = render :partial => "form", :object => form
  %p= submit_tag t(:'.submit')
