- if collection.empty?
  = t(:'.no_photos')
  - if @website || @album
    = raw t(:'.maybe_reset', :link => link_to(t(:'.reset'), admin_photos_path))
- else
  = render :partial => 'photo', :collection => collection
