#album
  .description= raw resource.description_html

  #photos
    - if ! @photos.empty?
      - @photos.each do |photo|
        .photo
          = link_to image_tag(photo.photo_url(:medium)), album_photo_path(resource.permalink, photo.permalink)
          %h2= link_to photo.title, album_photo_path(resource.permalink, photo.permalink)