%title= page_title
- meta_tags(current_website)
- %w(geourl keywords description).each do |meta|
  - unless(yield('meta_' + meta).blank?)
    %meta{ :name => meta, :content => yield('meta_' + meta) }
= stylesheet_link_tag %w(layout application colors), :cache => 'cache/all.css'    
= yield :head