@import includes.sass
+text

body
  :background-color = !color_background
  :color = !color_text
  :font-size x-small
#container
  :font-size 155%

a
  :color = !color_link
  &:hover, &:active
    :color = !color_link_active

p
  :font-size 110%
  :line-height 1.3em

ul
  :margin 0 0 0 20px
  :padding 0
  li
    :margin 0
    :padding 0
  ul
    :margin-bottom 0
h1
  :color = !color_green
h2, h3
  :color = !color_orange
  a
    :color = !color_orange
    :text-decoration none
    &:hover, &:active
      :color = !color_link_active
#header a
  :font-size 4em
  :text-decoration none
  :color = !color_link
  &:hover, &:active
    :color = !color_link_active

#navigation, #subnavigation
  :margin 0
  :padding 0
  li
    :list-style-type none
  a
    :text-decoration none
    &:hover, &:active
      :color = !color_link_active
#subnavigation
  li
    :display inline
    :margin 0px 20px 0px 0px
    a:hover, a:active
      :color = !color_link_active

#footer ul
  :list-style-type none
  li
    :display inline

#openid_logo
  :float right
  :margin 0 0 10px 10px


#openid_identifier
  :width 322px
  :margin 0px
  :padding 2px
  :padding-left 20px
  :vertical-align middle
  :background-image url(/images/openid.ico)
  :background-repeat no-repeat
  :background-position 3px 2px


.fieldWithErrors
  :color red
  :display inline

.error, .notice
  :border 2px solid
  :padding 5px 10px
.error
  :color black
  :background-color = !color_error + #777
  :border-color = !color_error
.notice
  :color black
  :background-color = !color_notice + #777
  :border-color = !color_notice

.flickr
  :color #0063DC
.portfolio
  :color #63DC00
.photoblog
  :color #DC6300

.submit input.flickr
  :-moz-border-radius 2px
  :-webkit-border-radius 2px
  :background-color = !color_blue
  :color white
  :font-weight bold
  :font-size 20px
  :border none
