- title(current_object.title)

%div[current_object]
  .body= current_object.body_html

  #photos
    - @photos.each do |photo|
      .photo= link_to image_tag(photo.photo_url(:icon)), album_photo_path(current_object.permalink, photo.permalink)