- title('About')

%p
  = current_website.site_title
  is a project by ananasblau, the developer alter-ego of Thomas R. Koll. It is
  %strong in no way affiliated with Flickr.com
  but an independend project making use of the flickr API.

%p
  This website was created because there exist online-tools to create
  a nice portfolio website out of your existing flickr photos.

%p
  Oh and feel free to send a mail requesting for more details.
  = link_to 'info@photostre.am', 'mailto:info@photostre.am'