- title('Om')

%p
  = current_website.site_title
  Detta är ett projekt av ananasblau, utvecklare en mycket nära av of Thomas R. Koll. Det är
  %strong på inget sätt anslutet med Flickr.com
  men ett oberoende projekt skapande i användandet av flickr API.

%p
  Denna webbsida är skapad för att det finns verktyg som tilllåter dig att skapa en websida för din konstnärsmapp utifrån dina spännande flickr foton.

%p
  Oh och ta dig friheten att skicka ett mail om du har frågor.