- title('About')

%p
  = current_website.site_title
  is a project by ananasblau, the developer alter-ego of Thomas R. Koll.

%p
  This website was created due to the lack of applications that allow you to create
  a nice portfolio website out of your existing flickr photos. Thomas still has no proper
  website for his photography, but go and look here at his
  = link_to 'flickr photostream.', 'http://flickr.com/photos/tomk32/'

%p
  Oh and feel free to send a mail requesting for more details.