- title('About')

%p
  = current_website.title
  is a project by ananasblau, the developer alter-ego of Thomas R. Koll. It is
  %em in no way affiliated with Flickr.com
  but an independent project making use of the flickr API.

%p
  This website was created to fill a gap still open despite countless "on black" tools.
  It aims to provide more control and features over the reuse and display of your
  already existing photos than any other tool offers.

%p
  So far it is
  %em free of charge
  but as more features are added those might cost some money. For the currently planned
  features look here at the 
  = link_to 'todo list', 'http://www.pivotaltracker.com/projects/40019'
%p
  If you want to know more, or request special features for your special needs, feel free to email to
  = link_to 'info@photostre.am', 'mailto:info@photostre.am?subject=photostre.am&body=Hi Thomas,'