- title('Contact')

%p
  If you have any questions, complaints or praise, feel free to send an email to
  = link_to 'info@photostre.am', 'mailto:info@photostre.am?subject=photostre.am&body=Hi Thomas,'

%p Other resources for help can be found here:
%ul
  %li= link_to 'support', 'http://www.flickr.com/groups/photostre_am/'
  %li= link_to 'blog', 'http://blog.photostre.am'
  %li= link_to 'twitter', 'http://twitter.com/photostre_am'