- title('Domains FAQ')

%p
  If you have any questions that are not answered here please
  = link_to 'send us an email', 'mailto:info@photostre.am?subject=Domains'

%dl
  %dt Sharing a domain with friends
  %dd If you want to give your friends subdomains like fred.example.com or betty.example.com
  %dt Subdomains
  %dd We are offering quite a few domains from which you may pick any subdomain, if available. Our domains for the community are: photostre.am, 365shots.net and photolog.at