%p
  <em>You have a flickr account? And you run a portfolio? And a photoblog?</em>
  %br
  So you upload your photos twice or thrice? Get ready to save some time:
  %br
  <strong>das-photowall</strong> reads your photos from your flickr account and gives you
  great creative freedom for designing a portfolio and photoblog.