- title 'Priser'

%h2 Grattis
%p
  För ingen kostnad kan du visa dina foton i från
  %strong singel källa,
  du kan
  %strong display 50 foton
  i
  %strong upptill 5 albums
  ta från
  %strong tio designs
  och välj din personliga underdomän under en av
  = link_to("our domains", static_path('domains') + '#subdomains') << '.'

%h2 Basic
%p
  För endast
  %strong € 9 per år
  du kan visa foton i från
  %strong singel källa,
  du kan
  %strong display 200 foton
  i
  %strong upptill 20 albums och delalbum välj ifrån tio designs och
  %strong skapa din egen webbsida.