- title 'Prices'

%h2 Free
%p
  At no cost at all you can stream photos in from
  %strong a single source,
  you can
  %strong display 50 photos
  in
  %strong upto 5 albums
  pick from
  %strong ten designs
  and select your personal subdomain under one of 
  = link_to "our domains", static_path('domains') + '#subdomains'

%h2 Basic
%p
  For only
  %strong €9 per year
  you can stream photos in from
  %strong a single source,
  you can
  %strong display 200 photos
  in
  %strong upto 20 albums and subalbums
  pick from ten designs and
  %strong create your own webdesign.

%h2 Pro
%p
  For as much as
  %strong €99 per year
  you can stream photos in from
  %strong three sources,
  display any amount of photos with
  %strong custom sizes and cropping for your photos
  on
  %strong upto three domains
  and of course create your own webdesign.

%h2 Szuper Pro
%p
  For
  %strong €299 per year
  you get all the above feature plus unlimited photo sources, domains, subdomains.

%h2 Whitelabelled
%p
  If you want to offer our service to your group, network or customers with custom pages
  for signup, dashboard and more, please send us a mail to
  = link_to 'info@photostre.am', 'mailto:info@photostre.am?subject=Whitelabel Service'


