body, #container {
  margin: 0;
  padding: 0;
}
#content {
  position: relative;
  top: 150px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#header {
  margin: 0 0 0 0;
}

#sidebar {
  position: absolute;
  right: 10px;
  top: 5px;
}

#container {
  margin: 0 20px;
}

#footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}