- title(t :'.page_title')
- content_for :subnavigation do
  %li= link_to t(:'.new'), new_object_path



= will_paginate(current_objects)

%ul
  - current_objects.each do |theme|
    %li= link_to theme.name, object_path(theme)
      
= will_paginate(current_objects)