
%div[resource]
  %p.name
    %strong Name
    = h resource.name
  %p.version
    %strong Version
    = h resource.version
  %p.author_id
    %strong Author
    = resource.author.name
  %p.license
    %strong License
    = h resource.license
