
%div[current_object]
  %p.name
    %strong Name
    = h current_object.name
  %p.version
    %strong Version
    = h current_object.version
  %p.author_id
    %strong Author
    = current_object.author.name
  %p.license
    %strong License
    = h current_object.license
