- title(t(:'.page_title'))
- content_for :subnavigation do
  %li= link_to t(:'.new'), new_object_path

- current_objects.each do |source|
  %div[source]
    = t(:'.source_info', {:username => source.username, :title => source.source_title, :active => t(source.active? ? :'.active' : :'.inactive')})
    = link_to t(:'.reauthenticate'), reauthenticate_admin_source_path(source) unless source.authenticated?
    = link_to t(:'.show'), object_path(source)