%h1= title("%s: %s" % [@source.source_title, @source.title])
- if @source.authenticated?
  %p=t(:'.activated', :username => @source.username, :title => @source.source_title) if @source.active
- else
  %p= link_to t(:'.reauthenticate'), reauthenticate_source_url(@source)