/* line 3, ../../../app/stylesheets/admin/admin.sass */
a {
  text-decoration: none;
}

/* line 6, ../../../app/stylesheets/admin/admin.sass */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
/* line 11, ../../../app/stylesheets/admin/admin.sass */
.menu .handler {
  background-image: url(/images/menu_closed.png);
}
/* line 13, ../../../app/stylesheets/admin/admin.sass */
.menu.open .handler {
  background-image: url(/images/menu_closed.png);
}

/* line 16, ../../../app/stylesheets/admin/admin.sass */
#navigation {
  top: 5px;
}

/* line 18, ../../../app/stylesheets/admin/admin.sass */
#section_navigation, #subnavigation {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding: 5px 0 0 5px;
  margin: 0 auto;
}
