

body {
  font-family: "Sansation", "PT Sans", "Helvetica", sans-serif;
  font-size: 14px;
  background-repeat: no-repeat;
  background-color: #222;
  color: white;
}

a {
  text-decoration: none;
  color: #ddf;
}
a:hover, a:focus {
  color: #aaf;
}
a img {
  border: none;
}
.clear {
  clear: both;
}

h1, h2, h3 {
  margin: 10px 0 0 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}

p {
  padding: 3px 5px;
  margin: 3px 0;
}


#header {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-bottom: 5px solid #666;
}
#header a {
  color: white;
}
#title a {
  font-size: 30px;
}
#title .subtitle {
  display: inline;
}

#navigation {
  margin: 0;
  list-style-type: none;
  display: inline;
  float: left;
  line-height: 55px;
  vertical-align: bottom;
}

#navigation li {
  margin: 0 20px 5px 0;
  display: inline;
}

#footer {
  font-size: 0.8em;
}


#navigation_albums {
  line-height: 1.5em;
}
#sidebar li, #sidebar p {
  padding: 0 0 0 5px;
}
#sidebar h3 {
  margin: 20px 0 0 0;
}


#albums .album h2, #photos .photo h2 {
  position: absolute;
  right: 10px;
  bottom: 20px;
  background-color: black;
  padding: 3px 5px;
}

#photos .photo, #albums .album {
  position: relative;
  text-align: right;
  margin: 0 0 5px 0;
}

.album img, .photo img {
  border: 3px black solid;
  max-width: 500px;
}

.photo h1, .album h1 {
}
.meta {
  margin: 3px 0 0 0;
}