
@font-face {
  font-family: 'QuicksandLight';
  src: url('http://static.photostre.am/fonts/quicksand_light.eot');
  src: local('QuicksandLight'), local('QuicksandLight-Regular'), url('http://static.photostre.am/fonts/quicksand_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBoldOblique';
  src: url('http://static.photostre.am/fonts/quicksand_bold_oblique.eot');
  src: local('QuicksandBoldOblique'), local('QuicksandBoldOblique-Regular'), url('http://static.photostre.am/fonts/quicksand_bold_oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('http://static.photostre.am/fonts/quicksand_bold.eot');
  src: local('QuicksandBold'), local('QuicksandBold-Regular'), url('http://static.photostre.am/fonts/quicksand_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBookOblique';
  src: url('http://static.photostre.am/fonts/quicksand_book_oblique.eot');
  src: local('QuicksandBookOblique'), local('QuicksandBookOblique-Regular'), url('http://static.photostre.am/fonts/quicksand_book_oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandDash';
  src: url('http://static.photostre.am/fonts/quicksand_dash.eot');
  src: local('QuicksandDash'), local('QuicksandDash-Regular'), url('http://static.photostre.am/fonts/quicksand_dash.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBook';
  src: url('http://static.photostre.am/fonts/quicksand_book.eot');
  src: local('QuicksandBook'), local('QuicksandBook-Regular'), url('http://static.photostre.am/fonts/quicksand_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandLightOblique';
  src: url('http://static.photostre.am/fonts/quicksand_light_oblique.eot');
  src: local('QuicksandLightOblique'), local('QuicksandLightOblique-Regular'), url('http://static.photostre.am/fonts/quicksand_light_oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: #567;
  font-family: QuicksandBook, serif, HelveticaNeue, Helvetica, sans-serif;
  font-size: 14px;
  color: #BCD;
}

a {
  text-decoration: none;
  color: #DEF;
}
a:hover, a:focus {
  color: #BCD;
}
a img {
  border: none;
}
.clear {
  clear: both;
}

h1, h2, h3 {
  margin: 10px 0 0 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}


#title a {
  font-size: 50px;
  font-family: QuicksandDash, Quicksand, serif, HelveticaNeue, Helvetica, sans-serif;
  color: #EC8300;
  margin: 10px 0 0 0;
}
h1, h2, h3 {
  font-family: QuicksandLight, Quicksand, serif, HelveticaNeue, Helvetica, sans-serif;
  color: #EC8300;
  font-weight: normal;
  margin: 0 0 4px 4px;
}

#navigation, #navigation_albums {
  list-style-type: none;
  margin: 24px 0;
}
#navigation li, #navigation_albums li {
  margin: 0 20px 5px 0;
}

#footer {
  font-size: 0.8em;
}

#albums .album, #photos .photo {
  display: inline;
}

.album img, .photo img {
  max-width: 500px;
  border: 5px #9AB solid;
}
.photo h1, .album h1 {
  margin-top: -1em;
}
.meta {
  text-align: right;
  margin: 3px 0 0 0;
}