
#container {
  width: 750px;
}

#header {
  margin: 0 0 20px 0;
}
#content {
  margin: 0 0 0 210px;
  padding: 20px 0 0 0;
  width: 500px;
  min-height: 300px;
}

#sidebar, #footer {
  width: 200px;
  float: left;
}