<% if @photos.blank? %>
  <p class="error">No photos yet</p>
<% else %>
<% @photos.each do |photo| %>
  <%= image_tag photo.icon_url, :title => photo.title %>
<% end %>

<% end %>
<%= will_paginate @photos %>
