<% if @photos.blank? %>
  <p class="error">No photos yet</p>
<% else %>
<% @photos.each do |photo| %>
  <%= link_to image_tag(photo.icon_url, :alt => photo.title), photo_url(photo) %>
<% end %>

<% end %>
<%= will_paginate @photos %>
