@import includes.sass

h2,h3,h4
  span
    :font-size 50%
    a, a:hover, a:visited
      :color = !color_link
  span:before
    :content "("
  span:after
    :content ")"
#albums .album
  float: left
  width: 120px